@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Roboto:wght@100;300;400&family=Syne+Tactile&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --bg-m: #fff;
  --fc: #5e5e5e;
  --bg-hover: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  color: var(--fc);
}

a {
  text-decoration: none;
  color: var(--fc);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

/*MENU-------------------------------*/

.menu .logo {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.menu .logo span {
  font-size: 10px;
  color: #cfb364;
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  background: var(--bg-m);
}

.menu .nav .nav-menu {
  display: flex;
  gap: 8px;
}

.menu .nav .nav-menu li {
  list-style: none;
}

.menu .nav .nav-menu li a {
  list-style: none;
  display: block;
  padding: 3px;
}
.menu .nav .nav-menu li a:hover {
  background: var(--bg-hover);
  color: rgb(129, 129, 129);
  border-radius: 3px;
}

/* BANNER--------------------------------- */

header {
  margin-top: 60px;
  width: 100%;
  position: relative;
  height: 300px;
  background: #000;
}

header .banner {
  background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.555) 100%),
    url("https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1037&q=80");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  overflow: hidden;
}

header .banner .texts {
  display: block;
  width: 100%;

  color: #fff;
}

header .banner .texts h1,
p {
  max-width: 400px;
  /* text-shadow: 1px 1px 1px #a5a4a4; */
}

header .banner .texts h1 {
  font-size: 2.5em;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}
header .banner .texts p {
  padding-bottom: 8px;
}
header .banner .texts h1 > span {
  font-size: 15px;
  color: #cfb364;
}

header .banner .texts a {
  display: block;
  width: 80px;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  border: 1px solid #fff;
  background: #da9627;
  color: #fff;
}

/* SECTION COFFEE-------------------------------------- */
#coffee-section {
  padding: 50px 0px;
  background: #f1f1f1;
  width: 100%;
}

#coffee-section .texts-coffee {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

#coffee-section .texts-coffee .text-1,
.text-2 {
  max-width: 400px;
}

h2 {
  padding-bottom: 10px;
  position: relative;
  font-size: 18px;
}

h2::before {
  content: "";
  width: 20px;
  height: 3px;
  background: #da9627;
  position: absolute;
  bottom: 8px;
}

#coffee-section .texts-coffee .text-2 p {
  padding-top: 35px;
}

#coffee-section .description-coffee {
  padding: 60px 5px;
  display: flex;
  gap: 75px;
  justify-content: center;
}

#coffee-section .description-coffee .item .item-coffee {
  min-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  background: #da9627;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#coffee-section .description-coffee .item .item-coffee > i {
  font-size: 1.5em;
  color: #fff;
}

#coffee-section .description-coffee .item {
  text-align: center;
}

#coffee-section .description-coffee .item span {
  font-weight: 800;
}

/* BEAN-SECTION--------------------------------------------------------- */

.bean-section {
  padding: 50px 10px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.bean-section .img-content {
  background: url("https://images.unsplash.com/photo-1587049016823-69ef9d68bd44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
    center;
  background-size: cover;
  width: 100%;
  max-width: 400px;
  height: 400px;
}

.bean-section .text-content {
  padding-top: 55px;
}

/* SECTION ABOUT ---------------------------------------*/

.about {
  padding: 50px 10px;

  background: #f1f1f1;
}
.content-about {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.text-about,
.grid-about {
  width: 100%;
  max-width: 400px;
}

.text-about ul {
  padding-top: 20px;
  line-height: 25px;
  list-style-position: inside;
}

.grid-about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}

.grid-about .img-g {
  height: 185px;
  background: #000;
}

.grid-about .about-1 {
  background: url("https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
  background-position: center;
  background-size: cover;
}

.grid-about .about-2 {
  background: url("https://images.unsplash.com/photo-1608586283588-123ebe4e6e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-position: center;
  background-size: cover;
}
.grid-about .about-3 {
  background: url("https://images.unsplash.com/photo-1517466905459-0f549f00b47f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-position: center;
  background-size: cover;
}
.grid-about .about-4 {
  background: url("https://images.unsplash.com/photo-1587734195342-39d4b9b2ff05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  background-position: center;
  background-size: cover;
}

/*Responsivo---------------------------------------------*/

.menu .nav i {
  display: none;
}

@media (max-width: 600px) {
  header .banner .texts h1,
  p,
  a {
    text-align: center;
    margin: 0 auto;
  }
  header .banner .texts a {
    width: 30%;
    padding: 8px 0;
  }

  .menu .nav i {
    display: block;
  }
  .menu .nav .nav-menu {
    display: block;
    position: absolute;
    box-shadow: inset 1px 5px 10px rgb(212, 212, 212);
    top: 60px;
    left: 0;
    width: 0;
    height: calc(100vh - 60px);
    background: rgb(252, 252, 252);
    z-index: 1000;
    text-align: center;

    overflow: hidden;
    visibility: hidden;
    transition: 0.3s;
  }

  .nav.active .nav-menu {
    visibility: visible;
    width: 100%;
    transition: 0.3s;
  }

  .menu .nav .nav-menu li a {
    padding: 20px;
  }

  /*responsivo coffee*/

  #coffee-section .texts-coffee,
  .description-coffee {
    flex-direction: column;
    text-align: center;
  }

  #coffee-section .texts-coffee .text-1,
  .text-2 {
    margin: 0 auto;
  }

  #coffee-section .description-coffee .item {
    margin: 0 auto;
  }
  #coffee-section .description-coffee .item .item-coffee {
    width: 180px;
    height: 180px;
  }
  #coffee-section .description-coffee .item .item-coffee > i {
    font-size: 2.5em;
  }

  /* section bean */
  .bean-section {
    flex-direction: column;
  }
  .bean-section .img-content {
    margin: 0 auto;
  }
  .bean-section .text-content {
    padding-top: 0;
  }

  .bean-section .text-content h2,
  p {
    text-align: center;
  }

  .about .content-about {
    flex-direction: column;
  }

  .about .text-about {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .about .text-about h2,
  p {
    text-align: center;
    margin: 0 auto;
  }

  .content-about .grid-about {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}
